<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7770C7N17"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-S7770C7N17');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Use this free AI voice generator to transform your voice into the distinctive voice of a singer or celebrity you admire" />
  <title>Free AI Voice Generator | Voice Mirror</title> 
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <!-- Your custom CSS -->
  <link rel="stylesheet" href="{% static 'app/css/home.css' %}" />
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar">
    <div style="font-family:Arial Black;" class="container">
      <a class="navbar-brand" href="#">Voice Mirror</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="characters">Voice Cloning</a>
          </li>
        </ul>
	<! -- <button class="btn btn-primary" type="button">登入</button> -- >
      </div>
    </div>
  </nav>
  <div id="home" class="container home-section">
    <h1 style="font-family:Arial Black;" >Free AI Voice Generator Online</h1>
    <h2 style="font-family:Arial Black;">Use this free AI voice generator to transform your voice into the distinctive voice of a singer or celebrity you admire</p>
    </br>
    <a href="characters" class="btn btn-primary">Get Started for Free</a>
  </div>

  <div id="about" class="container about-section">
    <!-- About section content (if applicable) -->
  </div>

  <div id="services" class="container services-section">
    <!-- Services section content (if applicable) -->
  </div>

  <div id="contact" class="container contact-section">
    <!-- Contact section content (if applicable) -->
  </div>

  <footer class="container-fluid fixed-bottom bg-dark text-center text-white p-2 mt-5">
    Copyright © 2023 VoiceMirror 
  </footer>
  <!-- Link to Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
